@import url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;
    color: #eee;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #455d7a;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background: #233142;
    font-size: 2.5em;
    text-align: center;
    z-index: 1;
}

section {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

section>div:not(#divBoard) {
    padding: 10px;
    background: #233142;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 4px solid #eee;
    border-radius: 5px;
}

section>div:not(#divBoard):first-child {
    border-radius: 50%;
    padding: 15px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 45%;
    left: -50px;
    z-index: 1;
    transition: 0.5s;
}

section>div:nth-child(2) {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

section>div:nth-child(2)>div:first-child {
    padding-bottom: 18px;
}

section>div:nth-child(2) p {
    font-size: 1.2em;
}

section #divBoard {
    margin-left: 50px;
    margin-right: 50px;
}

#board {
    width: 300px;
    height: 300px;
    background: #233142;
    border: 4px solid #eee;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    overflow: hidden;
}

#board div {
    width: 100px;
    height: 100px;
    background: #233142;
    border: 2px solid #eee;
    transition: 0.5s;
}

#board div:hover {
    background: #141f2b;
    transition: 0.2s;
}

#board div i {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

footer {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1, 100%;
    grid-template-rows: 2, 50px;
    background: #233142;
    bottom: 0;
    text-decoration: none;
    z-index: 1;
}

#starPuntuation {
    justify-content: center;
    align-items: center;
    display: flex;
}

#starPuntuation i {
    margin: 10px 5px;
}

#socialNetworks {
    justify-content: center;
    align-items: center;
    display: flex;
}

#socialNetworks a {
    margin: 10px;
}

.selectedStar {
    color: gold;
}

#resumen {
    margin-top: 15px;
    padding: 10px;
    border: 4px solid #eee;
    border-radius: 5px;
    width: 100%;
}

#tituloResumen {
    position: relative;
}

#tituloResumen:after {
    position: absolute;
    content: "";
    border-radius: 10px;
    width: 100%;
    height: 3px;
    top: 25px;
    left: 0;
    background: #eee;
}

#resumen p:not(#tituloResumen) {
    margin-top: 10px;
    margin-left: 10px;
}

@media only screen and (max-width: 642px) {
    body {
        position: relative;
    }
    section {
        position: unset;
    }
    section>div:not(#divBoard):first-child {
        position: absolute;
        top: 15px;
        left: 10px;
        padding: 5px;
        transition: 0.5s;
    }
}