* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;
}

body {
    background: #455d7a;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background: #233142;
    color: #eee;
    font-size: 2.5em;
    text-align: center;
}

section {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#boardContent {
    width: 300px;
    height: 300px;
    background: #233142;
    border: 4px solid #eee;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    overflow: hidden;
}

#boardContent div {
    width: 100px;
    height: 100px;
    background: #233142;
    border: 2px solid #eee;
}

#boardContent div:hover {
    background: #172635;
}

#boardContent div i {
    justify-content: center;
    align-items: center;;
    display: flex;
    height: 100%;
}

footer {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1, 100%;
    grid-template-rows: 2, 50px;
    background: #233142;
    bottom: 0;
    color: #eee;
    text-decoration: none;
}

#starPuntuation {
    justify-content: center;
    align-items: center;
    display: flex;
}

#starPuntuation i {
    margin: 10px 5px;
}

#socialNetworks {
    justify-content: center;
    align-items: center;
    display: flex;
}

#socialNetworks a {
    margin: 10px;
}

footer a {
    color: #eee;
}

footer a:visited {
    color: #eee;
}

.selectedStar{
    color: gold;
}